* {
  /* padding: 0;
  margin: 0; */
  font-family: "Work Sans", sans-serif;
}
/* header style */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 230px;
}
nav {
  display: flex;
  justify-content: space-between;
}
nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  padding-right: 30px;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
}
nav li a {
  text-decoration: none;
}
